[lang]
source: en
target: de
# Optional character to divide word. eg. "-" for "est-t-il"
source_word_separator:
target_word_separator:

[files]
# test.tok.en/de denotes the gold reference test set from MuST-C
source: test.tok.en
reference: test.tok.de
# target: the model translation
target: trans.txt
# the generated word alignemnt for both reference and translation
alignment_source_reference: ref.test.align
alignment_source_target: trans.test.align
# The list of source pronouns to evaluate is mandatory
list_source_pronouns: list_en
# Content type of the list of source pronouns to evaluate [word|possition]
input_type: word
# The list of target pronouns to evaluate is optional. Pronouns not in the list will be consider as "OTHER".
list_target_pronouns:


[dictionary]
# Optional dictionaries for considering equal or similar pronouns
equal:
similar:
source_pronouns:
target_pronouns:

[cases]
# Cases: 1 Equal, 2 Similar, 3 Different, 4 Empty target, 5 Empty reference, 6 Empty target and reference . The cases not lis
ted will be dropped.
cases_to_use: 1,2,3,4,5,6
# Weiths: In the range [0, 1], (1 Correct, 0 Incorrect)
weigths_per_case: 1,0.5,0,0,0,0
# Only if list_target_pronouns. When reference and cadidate are "OTHER", they will be consider equal or not.
count_OTHER_as_equal: false

[output]
output_file: doc.output
# If counting multiword alignment as separate words in the matrix.
counting_multiword_in_matrix: false
# Lenght of columns of the output confusion matrix
max_length_matrix = 10